<div class="card-group" xmlns="http://www.w3.org/1999/html">
    <div class="card">
        <img src="SVGS/noun-autobiography-1616440.svg" height="216" width="auto" class="card-img-top-svg" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bio</h5>
            <p class="desc">@BodyOne</p>
            <p class="desc">With 16 years of experience in repairing vehicles, I have gained a wealth of knowledge in the field. One of the most important aspects of my work is educating my customers about their vehicles and the repairs that are being made. I believe that understanding the issues at hand and the necessary repairs helps build confidence in the condition and reliability of the vehicle. I also strive to find the right parts at the right price, to ensure that my customers get the best value for their money. Overall, my goal is to help my customers feel confident and informed about the maintenance and upkeep of their vehicles.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img style="padding-top:.39rem;" src="Media/Images/icons8-broadcasting.svg" width="auto" height="168" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 style="padding-top: 3.018rem;" class="card-title">Social Media Links</h5>
            <p class="card-text">
                <ul style="list-style-type: none;">
                    <li style="padding-bottom: 1.5rem">
                        <div style="padding-left: 2.8rem;">
                            <a href="https://www.youtube.com/@@showmerepair">
                                <img width="216" height="auto" src="Media/Images/icons8-youtube.svg"/>
                            </a>
                        </div>
                    </li>
                    <li style="padding-bottom: 1.5rem">
                        <div>
                            <a href="https://www.instagram.com/chrisbryant_jcbryant/">
                                <img width="216" height="auto" src="Media/Images/icons8-instagram.svg"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated on 04/07/23</small>
        </div>
    </div>
    <div class="card">
        <img style="padding-top:.36rem;" src="Media/Images/icons8-handshake.svg" width="auto" height="168" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title" style="padding-top:3rem;">Dealer Links</h5>
            <p class="card-text">
                <ul style="list-style-type: none;">
                    <li style="padding-bottom: 1.5rem">
                        <div style="padding-left: 2.8rem;">
                            <a href="https://www.hotshotsecret.com/markets/diesel/">
                                <img src="Media/Images/hsswhiteoutline.png"/>
                            </a>
                        </div>
                    </li>
                    <li style="padding-bottom: 1.5rem">
                        <div>
                            <a href="https://www.amsoil.com/">
                                <img width="311" height="auto" src="Media/Images/amsoil-1-logo-png-transparent-e1595454382834.png"/>
                            </a>
                        </div>
                    </li>
                    <li style="padding-bottom: 1.5rem">
                        <div>
                            <a href="https://sctflash.com/">
                                <img width="311" height="auto" src="Media/Images/sct-logo.png"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="https://turbotimeusa.com/">
                                <img width="280" height="188.72" src="Media/Images/tplogo.svg"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated on 04/07/23</small>
        </div>
    </div>
</div>