<div class="card-group">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="desc">I started out taking anthing apart to figure out how it works. In the begingin I didnt always get things back to together correctly, but thankfully I got better with practice. This was the start to my fasination for anything with wheels. Quickly I figured out my passion was in cars. In highschol I went through the Autotech program. I then got a Job at My local Ford dealer out of highschool. After a while I decided to go to college where I graduated from the Ford ASSET program with my Associates in Applied Science. After being at the dealer for 16 years I found I wanted to help customers more then I could at the dealer. Now I'm focusing on helping people gain confidence to make good decisions on maintenance and repairs for their vehicle.</p>
            <p class="desc">Having 16 years of experience in repairing vehicles and gaining knowlegde, I found that educating the customer is half the battle. If I can help you undestand the failure and repair. We can help find the right part at right pirce to help you gain confindence in your vehicle.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="../Sources/spare-parts.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="Media/Images/spare-parts.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
