<div class="card-group">
    <div class="card">
        <img src="SVGS/noun-autobiography-1616440.svg" height="128" width="128" class="card-img-top-svg" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bio</h5>
            <p class="desc">@BodyOne</p>
            <p class="desc">With 16 years of experience in repairing vehicles, I have gained a wealth of knowledge in the field. One of the most important aspects of my work is educating my customers about their vehicles and the repairs that are being made. I believe that understanding the issues at hand and the necessary repairs helps build confidence in the condition and reliability of the vehicle. I also strive to find the right parts at the right price, to ensure that my customers get the best value for their money. Overall, my goal is to help my customers feel confident and informed about the maintenance and upkeep of their vehicles.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="../Media/Images/spare-parts.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

