@page "/"
@layout HomePageLayout


<div>
    <span class="badge badge-primary badge-header p-4">
        <h1>ShowMe Repair</h1>
        <h6>Parts and How Too. We got it.</h6>
    </span>
   
</div>
<div class="main-home-content content-custom">
       
       <p>Since I’ve been repairing cars and trucks for the last 16 years, I’ve learned how to create a good relationship with your customer. You need to put the customer in charge of the repair. I may have the knowledge to perform a quality repair.
           The customer needs to be educated on the repair. When the customer understands the repair, they can do it themselves or more likely feel comfortable having their mechanic do the repair.
       </p>
   </div>



