@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="image-background">
            
        
        <div class="top-row-header px-4">
            <SiteNav/>
        </div>
        </div>

        <article class="content px-4 homepage-artical">
            @Body
        </article>

    </main>
</div>