@inherits LayoutComponentBase

<div class="page">
    <main>
       
            
        
        <div class="top-row-header px-4">
            <SiteNav/>
        </div>
        
        <div class="text-lg-center content-header" style="color: #ffffff; text-shadow:
                                                                          		-1px -1px 0 #000,
                                                                          		1px -1px 0 #000,
                                                                          		-1px 1px 0 #000,
                                                                          		1px 1px 0 #000;">
            <h1>ShowMe Repair</h1>
            <h5>Parts and How Too. We got it.</h5>
        </div>

        <article class="content px-4 homepage-artical content-custom">
            @Body
        </article>

        <div class="content-custom">
            <span>&COPY;2022 Kennedy Enterprises LLC</span>
        </div>
    </main>
</div>