@inherits LayoutComponentBase

<div class="page">
    <main>


        <div class="top-row-header px-4">
            <SiteNav/>
        </div>

        <div class="text-lg-center content-header" style="color: #ffffff; text-shadow:
                                                                          		-1px -1px 0 #000,
                                                                          		1px -1px 0 #000,
                                                                          		-1px 1px 0 #000,
                                                                          		1px 1px 0 #000;">
            <h1>ShowMe Repair</h1>
            <h5>Parts and How Too. We got it.</h5>
        </div>
        <div class="spacer">
            <div class="row">
                <div class="col">
                    <h5>
                        Header is Above
                    </h5>
                    <p>
                        Something is here 1
                    </p>
                </div>
                <div class="col custom-border">
                    <h5>
                        Header is here
                    </h5>
                    <p>
                        Something is here 2
                    </p>
                </div>
                <div class="col">
                    <h5>
                        Here is a header
                    </h5>
                    <p>
                        Something is here 3
                    </p>
                </div>
            </div>
        </div>
        <div style="background-color: #ffffff;">
            <div class="info-panel">
                <h4>We would love to hear from you!</h4>
                <p>Some sorta information is going to be placed into this area I am just tring to get some text into here to make the block to the to correct looking on the main site of the site in the site lol.</p>
                <button class="btn btn-dark">Sign up for our email</button>
            </div>
            
        </div>
        <article class="content px-4 homepage-artical content-custom">
            @Body
        </article>

        <div class="content-custom">
            <span>&COPY;2022 Kennedy Enterprises LLC</span>
        </div>
    </main>
</div>